body{
    background-color: #000;
    .welcome{
        height: 520px;
        width:100%;
        background-color:#1E00FF;
        background-image:url("imgs/geometry2.png");
        background-blend-mode: multiply;
        background-position: 0px -0px;
        -webkit-mask-position-x: -0px;

        align-items: center;
        padding: 104px 24px 64px;

        .welcome-main{
            font-weight: bold;
            font-feature-settings: "palt";
            color: #fff;
            font-size: 32px;
        }
        .welcome-discription{
            color: #fff;
            font-size: 18px;
            width: 100%;
            font-feature-settings: "pwid";
            line-height: 2;
        }
    }
}
